SadadServiceClient/src/main/java/META-INF/wsdl/Common/SADADSystemTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.sadad.com/scm/Common/System/1.0" version="1.0" xmlns="http://www.sadad.com/scm/Common/System/1.0" xmlns:tns="http://www.sadad.com/scm/Common/System/1.0">
	<xs:simpleType name="C1_SType">
		<xs:annotation>
			<xs:documentation>1 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C10_SType">
		<xs:annotation>
			<xs:documentation>10 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C32_SType">
		<xs:annotation>
			<xs:documentation>32 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C40_SType">
		<xs:annotation>
			<xs:documentation>40 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C64_SType">
		<xs:annotation>
			<xs:documentation>64 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C128_SType">
		<xs:annotation>
			<xs:documentation>128 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C255_SType">
		<xs:annotation>
			<xs:documentation>255 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C256_SType">
		<xs:annotation>
			<xs:documentation>255 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C2048_SType">
		<xs:annotation>
			<xs:documentation>255 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C4096_SType">
		<xs:annotation>
			<xs:documentation>4096 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4096"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C2147483647_SType">
		<xs:annotation>
			<xs:documentation>2147483647 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2147483647"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC2_SType">
		<xs:annotation>
			<xs:documentation>2 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC3_SType">
		<xs:annotation>
			<xs:documentation>3 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC4_SType">
		<xs:annotation>
			<xs:documentation>4 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC6_SType">
		<xs:annotation>
			<xs:documentation>6 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC8_SType">
		<xs:annotation>
			<xs:documentation>8 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC10_SType">
		<xs:annotation>
			<xs:documentation>10 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC11_SType">
		<xs:annotation>
			<xs:documentation>11 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC12_SType">
		<xs:annotation>
			<xs:documentation>12 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC16_SType">
		<xs:annotation>
			<xs:documentation>16 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC18_SType">
		<xs:annotation>
			<xs:documentation>18 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC20_SType">
		<xs:annotation>
			<xs:documentation>20 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC32_SType">
		<xs:annotation>
			<xs:documentation>32 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC34_SType">
		<xs:annotation>
			<xs:documentation>34 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC36_SType">
		<xs:annotation>
			<xs:documentation>36 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC40_SType">
		<xs:annotation>
			<xs:documentation>80 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC80_SType">
		<xs:annotation>
			<xs:documentation>80 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NC100_SType">
		<xs:annotation>
			<xs:documentation>100 character ISO Latin-1 string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_SType">
		<xs:annotation>
			<xs:documentation>currency amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguagePref_SType">
		<xs:annotation>
			<xs:documentation>Two letter country code as defined in RFC-1766</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ar-sa"/>
			<xs:enumeration value="en-gb"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_SType">
		<xs:annotation>
			<xs:documentation>Date or DateTime type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Identifier_SType">
		<xs:annotation>
			<xs:documentation>Object identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="NC36_SType"/>
	</xs:simpleType>
	<xs:simpleType name="URL_SType">
		<xs:annotation>
			<xs:documentation>Uniform Resource Locator </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:simpleType name="UUID_SType">
		<xs:annotation>
			<xs:documentation>A UUID is an identifier that is unique across both space and time, with respect to the space of all UUIDs.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value=".{8}-.{4}-.{4}-.{4}-.{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType_Enums">
		<xs:annotation>
			<xs:documentation>currency </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SAR"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Email_SType">
		<xs:restriction base="xs:string">
		<!-- <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"></xs:pattern> -->
		<xs:pattern value="[^@]+@[^\.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MobileNumber_SType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+]\d+-\d+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FaxNumber_SType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+]\d+-\d+-\d+"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="NotificationType_Enums">
		<xs:annotation>
			<xs:documentation>currency </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMAIL"/>
			<xs:enumeration value="TESTMESSAGE"/>
			<xs:enumeration value="FAX"/>
		</xs:restriction>
	</xs:simpleType>	 
	<!-- [05-May-2013][BW] 4.7 add new type for saudi mobile phone number-->
	<xs:simpleType name="Phone_SType">
		<xs:annotation>
			<xs:documentation>Saudi mobile phone type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
        	<xs:pattern value="(00){0,1}(966)(05|5|08|8)[0-9]{8,14}"/>
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="FourDigitCount_SType">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TwoDigitCount_SType">
		<xs:restriction base="xs:long">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="C60_SType">
		<xs:annotation>
			<xs:documentation>60 character Unicode string</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>		

</xs:schema>